body {
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 50px 100px;
}

.button-conatiner {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.login {
    background-color: transparent;
    border: none;
}

.sign-up {
    background-color: #5CD5D0;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
}

.nav-items {
    display: flex;
    gap: 20px;
    font-size: 20px;
    list-style: none'';
    padding: 0;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;

    .second {
        margin-top: 50px;
    }

    .third {
        margin-top: 100px;
    }

    .card {
        width: 30%;
        background-color: white;
        padding: 20px;
        padding-top: 50px;
        position: relative;
        height: fit-content;
        padding-bottom: 35px;

        img {
            position: absolute;
            background-color: #3A3054;
            padding: 12px;
            border-radius: 50%;
            top: -35px;
        }

        .title {
            font-weight: 700;
            font-size: 22px;
        }

        .text {

        }
    }
}

footer {
    display: flex;
    justify-content: space-evenly;
}

.boost-links {
    background-color: #3A3054;
    background-image: url(./images/bg-boost-desktop.svg);
    height: fit-content;
    padding: 30px 0px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    p{
        color: white;
        font-weight: 700;
        font-size: 30px;
    }

    button {
        background-color: #5CD5D0;
        border: none;
        border-radius: 20px;
        padding: 8px 40px;
        color: white;
    }
}

.section1 {
    display: flex;
    position: relative;
    padding: 50px 0px;
    margin-bottom: 75px;

    img {
        // position: absolute;
        // right: -25%;
    }
}

.line {
    width: -webkit-fill-available;
    position: absolute;
    height: 10px;
    background-color: #5CD5D0;
    top: 0px;
    bottom: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.section1-text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    gap: 15px;

    .title {
        font-size: 80px;
        z-index: 1;
        font-weight: 800;
        line-height: 1;
    }

    .subtitle {
        font-size: 20px;
        width: 75%;
    }

    button {
        background-color: #5CD5D0;
        border: none;
        border-radius: 20px;
        padding: 8px 40px;
        color: white;
    }
}

.section2 {
    padding: 50px;
    background-image: url(images/bg-shorten-desktop.svg);
    background-color: #3A3054;
    position: absolute;
    border-radius: 10px;
    width: 85%;
    top: -15%;

    #url {
        width: 80%;
        border-radius: 10px;
        border: none;
        padding: 10px;
    }

    #submit {
        width: 18%;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: #5CD5D0;
        color: white;
    }
}

.advanced {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;

    .title {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .subtitle {
        width: 35%;
        text-align: center;
    }
}

.container2 {
    position: relative;
    padding: 0px 100px;
    background-color: #EFF1F7;
    padding-top: 50px;
    padding-bottom: 100px;
}